.bynw-card-id {
  background: linear-gradient(0.25turn, #FFCD6E, #FFB075);
  border-radius: 1.5rem; 
}

.bynw-card-icon-user {
  background-color: #FDDAC2;
  border-color: #F99F5C;
  border-style: solid;
  border-width: 0.25rem;
}

.rotateFadeOut{
  animation-name: rotateFadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  
}